<div id="footer">
    <div class="container">

        <ul class="list-inline">
            <li><a href="#home">Home</a>
            </li>
            <li><a href="#terms">Terms</a>
            </li>
            <li><a href="#sobre">About</a>
            </li>
            <li><a href="#contact">Contact Us</a>
            </li>
            <li><a href="#partnership">Be our partner</a>
            </li>
        </ul>
        <p class="text-muted credit">&copy; 2014 <strong>MarketMobile</strong> &middot; Created and developed by: <strong>Augusto Geara</strong>
        </p>
    </div>
</div>