
<nav class="navbar  navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html"><span
				class="glyphicon glyphicon-dashboard"></span> Denuncia<span
				class="sec-brand">Market.</span>
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li class="active">
					<a href="#main" class="navItem">Home</a>
				</li>
				<li>
					<a href="#listShop" class="navItem">Estabelecimentos</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Usu&aacute;rio <b class="caret"></b></a>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a class="navItem" href="#login">Login</a>
						</li>
						<li>
							<a class="navItem" href="#signup">Sign up</a>
						</li>
						<li>
							<a class="navItem" href="#recoverPassword">Recover Password</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Sobre n&oacute;s <b class="caret"></b></a>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a class="navItem" href="#business_missao">Miss&atilde;o</a>
						</li>
						<li>
							<a class="navItem" href="#business_visao">Vis&atilde;o</a>
						</li>
						<li>
							<a class="navItem" href="#business_valores">Valores</a>
						</li>
					</ul>
				</li>
			</ul>
			
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control input-sm"
						placeholder="Search...">
				</div>
			</form>

			<p class="navbar-text pull-right">
				Already a user? <a data-toggle="collapse" data-target="#login" class="navbar-link">Login</a>
			</p>

			<div class="btn-toolbar pull-right">
				<div class="btn-group">
					<a href="signup.html" class="btn btn-success navbar-btn btn-sm"><span
						class="glyphicon glyphicon-user"></span> Create an account
					</a>
				</div>
			</div>

		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>