<div id="landing">
	<div class="container">
		<h3>Den&uacute;ncia</h3>	
				<div>
				
					<form role="form" >
						<!-- 
						<div class="form-group">
							<label for="nomeInput">Nome</label> 
							<input type="text" class="form-control " id="nomeInput"
								placeholder="Nome da Categoria" name="nome">
						</div>
						 -->
						<div class="form-group">
							<label for="descricaoInput">Descri&ccedil;&atilde;o</label> 
							<input type="text" class="form-control " id="descricaoInput"
								placeholder="Descri&ccedil;&atilde;o da Categoria" name="descricao">
						</div>
						<!--
						<div class="form-group" >
							 <input type="radio" name="tipoCategoria" class="rbTipoCategoria" value="principal"> Categoria principal<br /> 
							 <input type="radio" name="tipoCategoria" class="rbTipoCategoria" value="secundaria" checked="checked"> Categoria Secund&aacute;ria
						</div>
						-->
						<!-- 
						<div class="checkbox">
							<label for="anonimato"> Permitir denúncia anônima?</label>
							<input type="checkbox" id="anonimatoChckbx" name="anonimato" checked="checked"/>
						</div>
						 -->
						<div class="form-group" id="cepEndereco">
                            <label for="inputAddress">Informe sua exata localizacao</label>
                            
                            <div class="right-inner-addon ">
							    
							    <a href="#" id="locationIcon">
							    	<span class="glyphicon glyphicon-screenshot"></span> Obter minha localiza&ccedil;&atilde;o 
							    </a>
							    
							</div>
                            
                        </div> 
                        
                        <div class="form-group" id="cepEndereco">
	                        <p>Camera Status: <i id="camera-status"></i></p>
							<input type="submit" value="Take Picture" id="camera-snap">
							<img src="" id="camera-image" style="width: 80%;">
						</div> 
						<div id="selectDivCategoria"></div>
						
						<button id="saveDenuncia" class="btn btn-primary btn-block" type="submit">
							<strong>Denunciar Aqui</strong> 
						</button>
						
						
						

					</form>

				
	</div>
	<!-- /header-image -->
</div>