<div id="landing">
	<div class="container ">
			
				<div class="containerForm">
					<h3>Den&uacute;ncia</h3>
					<form role="form" >
						<!-- 
						<div class="form-group">
							<label for="nomeInput">Nome</label> 
							<input type="text" class="form-control " id="nomeInput"
								placeholder="Nome da Categoria" name="nome">
						</div>
						 -->
						<div id="selectDivCategoria"></div>
						
						<div class="form-group">
							<label for="descricaoInput">Den&uacute;ncia</label> 
							
							<textarea rows="4" cols="50" name="descricao" class="form-control " id="descricaoInput"
								placeholder="Descri&ccedil;&atilde;o da Den&uacute;ncia" ></textarea>
						</div>
						
						
						<!--
						<div class="form-group" >
							 <input type="radio" name="tipoCategoria" class="rbTipoCategoria" value="principal"> Categoria principal<br /> 
							 <input type="radio" name="tipoCategoria" class="rbTipoCategoria" value="secundaria" checked="checked"> Categoria Secund&aacute;ria
						</div>
						-->
						<!-- 
						<div class="checkbox">
							<label for="anonimato"> Permitir denúncia anônima?</label>
							<input type="checkbox" id="anonimatoChckbx" name="anonimato" checked="checked"/>
						</div>
						 -->

						<div style="margin-top: 16px">
						
							
							<div class="panel panel-default">
							  <div class="panel-heading" style="padding: 0px 0px 0px 10px;">
								    <div class="panel-title">
									    <div class="right-inner-addon ">
														    
									    <a href="#" id="getGeolocation" class="btn btn-default navbar-btn btn-sm">
									    	<span class="glyphicon glyphicon-screenshot"></span> Obter minha localiza&ccedil;&atilde;o 
									    </a>
									    <a href="#" id="camera-snap" class="btn btn-default navbar-btn btn-sm">
									    	<span class="glyphicon glyphicon-camera"></span> Tirar uma foto 
									    </a>
									    <a href="#" id="fileupload-snap" class="btn btn-default navbar-btn btn-sm">
									    	<span class="glyphicon glyphicon-picture"></span> Escolher foto do Album
									    </a>
									</div>
								</div>
							  </div>
							  
							  <div class="panel-body">
						    	<div class="row" id="imagensUpload">
						    		
						    		
							    </div>
							    <!-- 
							    <div class="row" id="imagensFileUpload">
						    	
							    	<label for="sampleFile">Please select a file</label>
							        <input id="sampleFile" name="files[0]" type="file" style="border: solid 1px black" /> <br/>
							
								</div>
							    	 -->				    	
							  </div>
							  
							</div>
							
						</div>
						
						
						
						<button id="saveDenuncia" class="btn btn-primary btn-block" type="submit">
							<strong>Denunciar Aqui</strong> 
						</button>
						
					</form>

				
	</div>
	<!-- /header-image -->
</div>